
*{
    box-sizing: border-box;
    padding:0;
    margin : auto;
}
html, body{
    width:100%;
    height: 100%;
}

#container{
    width:500px;
    height:700px;
    background-color: rgb(247,247,247);
    margin : 50px auto;
    text-align: center;
    border-radius: 5%;
    padding:1px;
}

#title{
    margin-top:50px;
    width:200px;
}

#input{
    margin:10px;
    margin-right:0px;
    display:inline-block;
    height:40px;
    border:none;
    font-size:inherit;
    width:300px;
    vertical-align: middle;
    line-height:40px;
    padding-left:10px;
    outline:none;
    overflow:hidden;
}

input[type=text]:focus::placeholder{
    color:transparent;
}

#input_box{
    padding:1px;
    width:400px;
    line-height: 70px;
    font-size:15px;
    border-bottom:2px solid gray;
}
#add_btn{
    height: 40px;
    width:50px;
    border:0;
    cursor:pointer;
    margin-left:-5px;
    font-size:inherit;
    vertical-align: middle;
    background-color: rgb(200,200,200);

   
}

#add_btn:hover{
    background-color: gray;
}
#add_btn:active{
    background-color: rgb(200,200,200);
}

#list_box{
    width:385px;
    height: 400px;
}
#list_box li {
    margin-top:10px;
    text-align: left;
    list-style:none;
    width: 360px;
    height:25px;
    background-color: white;
    padding-left:10px;
    float:left;
    font-size:15px;
    line-height: 25px;
    cursor:pointer;

}
#ToDoBox::after{
    clear:both;
}
.fa-trash{
    display: block;
    float: right;
    cursor: pointer;
    margin-top:10px;
    height: 25px;
    line-height: 25px;
}

.ToDoBox{
    width:385px;
    height: 35px;
}
.done {
    text-decoration: line-through;
    background-color:rgb(220, 220, 220) !important;
}